<!DOCTYPE html>
<html lang="zh">

<head>
    <title>背单词吧</title>
    <meta charset="utf8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    <link href="main.css" rel="stylesheet"/>
</head>

<body>
    <div class="app">
        <main :class="{ 'light-theme': lightTheme }">
            <section class="card">
                <p class="wordbox kanji" :style="{ opacity: kanjiOpacity }"> {{ currentWord?.kanji }} </p>
                <p class="wordbox kana" :style="{ opacity: kanaOpacity }"> {{ currentWord?.kana }} </p>
                <button class="rnd_rect-btn showans" @click="showAnswer">ANS</button>
                <span class="indicator"> {{ (index+1) + "/" + length }} </span>
            </section>
            <section class="pagination">
                <button class="rnd_rect-btn" disabled @click="previous">
                    <span class="material-icons arrow">arrow_back_ios</span>
                </button>
                <button class="rnd_rect-btn" @click="next">
                    <span class="material-icons arrow">arrow_forward_ios</span>
                </button>
            </section>
        </main>
        <aside>
            <section class="menu-list-container hidden">
                <h2>选择词库</h2>
                <div class="type-selector-container" onclick="app.type = document.querySelector('input:checked').value">
                    <label class="type-selector">
                        <input type="radio" name="ltype" value="k" checked>
                        <p>漢語</p>
                    </label>
                    <label class="type-selector">
                        <input type="radio" name="ltype" value="g">
                        <p>外来語</p>
                    </label>
                    <!-- <label class="type-selector">
                        <input type="radio" name="ltype" value="v">
                        <p>单词本</p>
                    </label> -->
                </div>
                <ul class="menu-list" v-for="(grade, index) in guide?.path[type]" :key="index" v-if="grade.length != 0">
                    <div class="menu-list-title" onclick="event.currentTarget.parentNode.classList.toggle('expanded')">
                        <h3>{{ grade[0].title.substr(0, 3) }}</h3>
                        <span class="material-icons">expand_more</span>
                    </div>
                    <li v-for="(lexicon, lindex) in grade" :key="lindex" @click="changeLexicon(lexicon.url)" :level="lexicon.name">{{ lexicon.title }}</li>
                </ul>
            </section>
            <button class="menu-btn"
                onclick="
                    document.querySelector('span.menu-icon').classList.toggle('close');
                    document.querySelector('section.menu-list-container').classList.toggle('hidden')">
                <span class="menu-icon material-icons"></span>
            </button>
        </aside>
    </div>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="main.js"></script>
</body>

</html>