* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    -webkit-tap-highlight-color: transparent; /*取消移动端浏览器(webkit)可点击元素被点击时的高亮*/
}

:root {
    /* 默认的颜色 */
    --bg-color: hsl(197, 22%, 26%);
    --font-color-primary: hsl(0, 0%, 100%);
    --font-color-secondary: hsl(202, 10%, 79%);
    --green: hsl(131, 70%, 38%);
    --blue: hsl(200, 97%, 45%);
    --menu-btn-color: hsl(228, 22%, 26%);
}
main.light-theme {
    /* @TODO 配完浅色 */
    --bg-color: hsl(197, 22%, 26%);
}

/* 确保较低高度（手机横屏）情况下完整显示内容 */
@media (max-device-height: 500px) {
    body {
        height: 500px;
    }
}
@media (min-device-height: 500px) {
    html {
        height: 100%;
    }
    body {
        height: 100%;
    }
}
body {

    background-image: url("asserts/wp_ATRIblured.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 15% 0;
    overflow: hidden;
}

div.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

main {
    min-width: 300px;
    width: 80%;
    max-width: 500px;
    min-height: 540px;
    height: 70vmax;
    max-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

main section.card {
    width: 100%;
    height: 70%;
    padding: 100px 20px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 0 40px rgb(33, 45, 58);
    background-color: var(--bg-color);
    border-radius: 20px;
}

p.wordbox {
    color: var(--font-color-secondary);
    line-height: 0.8em;
    transition: opacity 0.2s;
}

p.wordbox.kanji {
    font-family: "Source Han Serif", "Noto Serif JP", serif;
    font-size: 32px;
    font-weight: 600;
    height: 44px;
}

p.wordbox.kana {
    font-family: "Source Han Serif", "Noto Serif SC", serif;
    font-size: 24px;
    font-weight: 400;
    height: 35px;
}

.rnd_rect-btn {
    height: 100%;
    background: none;
    color: var(--font-color-primary);
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    user-select: none;
}

button.showans {
    border: 1px solid #fff;
    margin-top: 10px;
    width: 85%;
    height: 50px;
    transition-duration: 0.4s;
}

/* 对能悬停的设备的设置 */
@media (hover: hover) {
    button.showans:hover {
        background-color: var(--green);
        border-color: var(--green);
        box-shadow: 0 0 15px var(--green);
    }
}
/* 对不能悬停的设备的设置 */
@media (hover: none) {
    button.showans:active {
        transition-duration: 0.15s;
        background-color: var(--green);
        border-color: var(--green);
        box-shadow: 0 0 15px var(--green);
    }
    button.showans {
        transition-duration: 0.6s;
    }
}

span.indicator {
    position: absolute;
    bottom: 30px;
    color: var(--font-color-secondary);
}

main section.pagination {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-around;
    border-radius: 30px;
}

section.pagination button {
    border: none;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px rgba(34, 45, 58, 0.75);
}
section.pagination button[disabled] {
    filter: opacity(0.6);
    cursor: not-allowed;
    box-shadow: none;
}

section.pagination button:active:not([disabled]) {
    filter: brightness(0.7);
}

section.pagination button:nth-child(1) {
    width: 49.5%;
    border-radius: 30px 0 0 30px;
}

section.pagination button:nth-child(2) {
    width: 49.5%;
    border-radius: 0 30px 30px 0;
}

aside section.menu-list-container {
    height: 100vh;
    width: 300px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: whitesmoke;
    box-shadow: -10px 0 18px rgb(60 64 67 / 30%);
    overflow-y: auto;
    transition: right 0.8s ease;
}
aside section.menu-list-container.hidden {
    right: -300px;
}
section.menu-list-container h2 {
    font-size: 28px;
    padding: 4px 0;
    text-align: center;
    font-family: sans-serif;
    border-bottom: 1px solid #dadce0;
}

section.menu-list-container div.type-selector-container {
    margin-top: 12px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

label.type-selector input[type="radio"] {
    display: none;
}

label.type-selector p {
    font-size: 16px;
    width: 74px;
    height: 2.5em;
    margin-right: 4px;
    border: 1px solid #dadce0;
    border-radius: 1.75em;
    cursor: pointer;
    line-height: calc(2.5em - 2px);
    text-align: center;
}
label.type-selector p:hover {
    background-color: rgba(26,115,232,.04);
}

label.type-selector input[type="radio"]:checked + p {
    border-color: rgb(25, 103, 210);
    background-color: rgb(232, 240, 254);
}

section.menu-list-container ul.menu-list {
    --title-height: 72px;
    list-style: none;
    max-height: var(--title-height); /* 与h3高度保持一致 */
    overflow-y: hidden;
    transition: max-height .6s ease;
    cursor: pointer;
}
section.menu-list-container ul.menu-list > :hover {
    background-color: rgba(26,115,232,.04);
}

section.menu-list-container ul.menu-list.expanded {
    max-height: 300px; /* height设为auto时无法应用transition，故采用max-height */
}
section.menu-list-container ul.menu-list.expanded div.menu-list-title {
    border-color: rgb(25, 103, 210);
    background-color: rgb(232, 240, 254);
}
ul.menu-list div.menu-list-title {
    border-top: 1px solid #dadce0;
}

ul.menu-list div.menu-list-title h3 {
    display: inline-block;
    line-height: var(--title-height);
    padding-left: 10px;
}

ul.menu-list li {
    font-size: 18px;
    line-height: 56px;
    padding-left: 14px;
} 

div.menu-list-title span.material-icons {
    vertical-align: middle;
    line-height: var(--title-height);
    position: absolute;
    right: 20px;
}

button.menu-btn {
    position: fixed;
    bottom: 25px;
    right: 25px;
    background-color: var(--menu-btn-color);
    color: white;
    width: 50px;
    height: 50px;
    border: unset;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 12px 16px -8px var(--menu-btn-color);
}

span.menu-icon {
    vertical-align: middle;
    transition: transform 0.2s ease;
}

span.menu-icon::before {
    content: "menu";
}

span.menu-icon.close {
    transform: rotate(-180deg);
}

span.menu-icon.close::before {
    content: "close";
}